{% extends 'ktn/base.html' %}
{% load ktn_settings %}
{% load staticfiles %}

{% block tab %}quiz{% endblock tab %}
{% block title %}Quiz{% endblock title %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static "quiz/css/question.css" %}">
{% endblock head %}

{% block content %}
  <div class="ui container text">
    <div class="info">
      <h2 class="ui header {{ "ACCENT_COLOR_NAME"|setting }}">{{ question.qid }}</h2>
      <div class="results">
        {% if result == 1 %}
          <i class="ui green check circle icon"></i>
        {% elif result == 2%}
          <i class="ui red remove circle icon"></i>
        {% endif %}
      </div>
      <p>{{ question.question }}</p>
    </div>
    <div class="notesection">
      <form class="ui form" action="" method="post">
        {% csrf_token %}
        <div class="field">
          <label>Notat</label>
          <textarea rows="3" name="note" maxlength="500">{{ note }}</textarea>
        </div>
      </form>
      <button class="ui {{ 'ACCENT_COLOR_NAME'|setting }} notesave tri button">Lagre</button><!--
      --><div class="divider"></div><button class="ui {{ 'ACCENT_COLOR_NAME'|setting }} noteabort tri button">Avbryt</button><!--
      --><div class="divider"></div><button class="ui {{ 'ACCENT_COLOR_NAME'|setting }} delete openmodal tri button" url="deletenote">Slett</button>
    </div>
    <div class="question actions">
      <a class="ui button answer">True</a><!--
      --><div class="divider"></div><a class="ui button answer">False</a><!--
      --><a class="ui {{ 'ACCENT_COLOR_NAME'|setting }} tri button" href="{{ question.previous.url }}">Forrige</a><!--
      --><div class="tri divider"></div><a class="ui {{ 'ACCENT_COLOR_NAME'|setting }} tri button" href="/quiz/random">Tilfeldig</a><!--
      --><div class="divider"></div><a class="ui {{ 'ACCENT_COLOR_NAME'|setting }} tri button" href="{{ question.next.url }}">Neste</a>
    </div>
    {% if not user.is_authenticated %}
      <div class="loginalert">
        <p class="ui red header"><i class="ui red warning sign icon"></i> Ikke logget inn</p>
      </div>
    {% else %}
      <div class="actionbar">
        <p class="note toggle" data-tooltip="Personlig notat" data-position="left center"><i class="ui blue sticky note {% if not note %}outline{% endif %} icon"></i></p>
      </div>
    {% endif %}
  </div>

  <script>
      $.ajaxSetup({
          beforeSend: function (xhr, settings) {
              xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          }
      });
      original_note = `{{ note }}`;
  </script>
  <script src="{% static "quiz/js/question.js" %}"></script>
{% endblock content %}
