{% extends 'ktn/base.html' %}
{% load ktn_settings %}
{% load staticfiles %}

{% block tab %}quiz{% endblock tab %}
{% block title %}Quiz{% endblock title %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static "quiz/css/question.css" %}">
{% endblock head %}

{% block content %}
  <div class="ui container text">
    <div class="info">
      <h2 class="ui header {{ "ACCENT_COLOR_NAME"|setting }}">{{ question.qid }}</h2>
      <div class="results">
        {% for result in results %}
          {% if result %}
            <i class="ui green check circle icon"></i>
          {% else %}
            <i class="ui red remove circle icon"></i>
          {% endif %}
        {% endfor %}
      </div>
      <p>{{ question.question }}</p>
    </div>
    <div class="actions">
      <a class="ui button answer">True</a>
      <a class="ui button answer">False</a>
      <a class="ui {{ 'ACCENT_COLOR_NAME'|setting }} button" href="{{ question.previous.url }}">Previous</a>
      <a class="ui {{ 'ACCENT_COLOR_NAME'|setting }} button" href="{{ question.next.url }}">Next</a>
      <a class="ui {{ 'ACCENT_COLOR_NAME'|setting }} button" href="/quiz/random">Random</a>
    </div>
    {% if not user.is_authenticated %}
        <div class="loginalert">
          <p class="ui red header"><i class="ui red warning sign icon"></i> Not logged in</p>
        </div>
    {% endif %}
  </div>

  <script>
      $.ajaxSetup({
          beforeSend: function (xhr, settings) {
              xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          }
      });
  </script>
  <script src="{% static "quiz/js/question.js" %}"></script>
{% endblock content %}
