{% extends 'ktn/base.html' %}
{% load ktn_settings %}
{% load staticfiles %}

{% block tab %}quiz{% endblock tab %}
{% block title %}Quiz{% endblock title %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static "quiz/css/quiz.css" %}">
{% endblock head %}

{% block content %}
  <div class="ui container text">
    <h2 class="ui header item {{ "ACCENT_COLOR_NAME"|setting }}">Quiz</h2>

    <div class="textcenter">
      <div id="quizselection">
        <div class="selectform">
          <form class="ui form" method="POST" target="">
            {% csrf_token %}
            <div class="fields">
              <div class="field">
                <div class="ui selection subject dropdown search scrolling field">
                  <input class="dummy" name="section" type="hidden">
                  <i class="dropdown icon"></i>
                  <div class="default text">År</div>
                  <div class="menu">
                    {% for section in sections %}
                      <div class="item">{{ section }}</div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="ui selection subject dropdown search scrolling field">
                  <input class="dummy" name="subsection" type="hidden">
                  <i class="dropdown icon"></i>
                  <div class="default text">Oppgave</div>
                  <div class="menu">
                    {% for subsection in subsections %}
                      <div class="item">{{ subsection }}</div>
                    {% endfor %}
                    <div class="item" data-value="6">6 (bare 2008)</div>
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="ui selection subject dropdown search scrolling field">
                  <input class="dummy" name="question" type="hidden">
                  <i class="dropdown icon"></i>
                  <div class="default text">Spørsmål</div>
                  <div class="menu">
                    {% for question in questions %}
                      <div class="item">{{ question }}</div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

          </form>
          <a class="ui {{ 'ACCENT_COLOR_NAME'|setting }} button submit">Gå</a>
        </div>

        <div class="jumptobuttons">
          <a class="ui {{ 'ACCENT_COLOR_NAME'|setting }} button" href="/quiz/first">Første</a><!--
          --><div class="divider"></div><a class="ui {{ 'ACCENT_COLOR_NAME'|setting }} button" href="/quiz/last">Siste</a><!--
          --><a class="ui {{ 'ACCENT_COLOR_NAME'|setting }} button" href="/quiz/random">Tilfeldig</a><!--
          --><div class="divider"></div><a class="ui {{ 'ACCENT_COLOR_NAME'|setting }} button" href="/quiz/continue">Fortsett</a>
        </div>
      </div>
    </div>

    <div class="overview">

      {% for a in list %}
        <div class="section">
          <h2 class="ui {{ 'ACCENT_COLOR_NAME'|setting }} header">{{ a.1 }}</h2>
          {% for b in a.0 %}
            <div class="subsection">
              <h4 class="ui {{ 'ACCENT_COLOR_NAME'|setting }} header">{{ b.1 }}</h4>
              <div class="row">
                {% for c in b.0 %}
                  <a href="{{ c.1 }}">
                  {% if c.0 is 0 %}
                    <i class="ui yellow radio icon"></i>
                  {% elif c.0 is 1 %}
                    <i class="ui green check circle icon"></i>
                  {% else %}
                    <i class="ui red remove circle icon"></i>
                  {% endif %}
                {% endfor %}
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>

  <script src="{% static "quiz/js/quiz.js" %}"></script>
{% endblock content %}
