#header {
    margin-bottom: 40px !important;
    padding-top: 20px;
}

.menucontainer {
    display: inline-block;
    vertical-align: middle;
}

#header .logo {
    display: inline-block;
    margin: 0;
    margin-right: 30px;
    vertical-align: middle;
}
