.ajs-message {
    color: #fff !important;
    border: 0 !important;
    border-radius: 3px !important;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.page-wrap {
    min-height: 100vh;
    /* equal to footer height */
    margin-bottom: -150px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer, .page-wrap:after {
    height: 150px;
}
