{% load staticfiles %}
{% load ktn_settings %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}
        KTN
      {% endblock title %}
    </title>

    <link rel="shortcut icon" type="image/png" href="{% static "ktn/img/favicon.png" %}">
    <link rel="stylesheet" type="text/css" href="{% static "ktn/css/semantic.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "ktn/css/alertify.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "ktn/css/alertify.semantic.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "ktn/css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "ktn/css/header.css" %}">
    <!--link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"-->

    <script src="{% static "ktn/js/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "ktn/js/semantic.min.js" %}"></script>
    <script src="{% static "ktn/js/alertify.min.js" %}"></script>
    <script src="{% static "ktn/js/analytics.js" %}"></script>

    {% block head %}
    {% endblock head %}
  </head>

  <body>
    <div class="page-wrap">
      {% block header %}
        {% include 'ktn/header.html' %}
      {% endblock header %}

      {% block content %}
      {% endblock content %}
    </div>

    <div class="site-footer">
      {% block footer %}
          {% include 'ktn/ad.html' %}
      {% endblock footer %}
    </div>
  </body>

  {% if messages %}
    <script>
      $(function() {
        {% for message in messages %}
          alertify.message("{{ message }}");
        {% endfor %}
      });
    </script>
    <style>
      .ajs-message {
          background-color: {{ "ACCENT_COLOR_CODE"|setting }} !important;
      }
    </style>
  {% endif %}

  {% include 'ktn/delete.html' %}

  <script>
    $('.menu .{% block tab %}home{% endblock tab %}_tab').addClass('active');
  </script>

</html>
