<div class="ui small modal delete">
  <div class="header">
    Er du sikker?
  </div>
  <div class="content">
    <p>Den vil bli permanent slettet!</p>
  </div>
  <div class="actions">
    <div class="ui button cancel">
      Avbryt
    </div>
    <a href="/" class="ui icon red button delete approve">
      Slett
      <i class="trash icon"></i>
    </a>
  </div>
</div>

<script>
  $(".delete.openmodal").click(function() {
    $('.delete.modal').modal('show');
    $(".delete.modal .delete.button").attr("href", $(this).attr("url"));
  });
</script>
