.button {
    width: calc(50% - 5px);
    display: inline-block !important;
    margin: 0 !important;
    margin-top: 10px !important;
}

.questions.actions {
    padding: 0 !important;
}

.divider {
    display: inline-block;
    width: 10px;
    margin: 0;
    padding: 0;
}

.tri.button {
    width: calc(33.33% - 6.666px);
}

.question.actions {
    text-align: center;
}

.info {
    min-height: 150px;
}

.header, .results {
    display: inline-block;
}

.results .icon {
    margin: 0;
}

.container {
    position: relative;
}

.loginalert {
    position: absolute;
    top: 0;
    right: 0;
}

.actionbar {
    position: absolute;
    top: 0;
    right: 0;
}

.actionbar *:hover {
    cursor: pointer;
}

.notesection {
    visibility: hidden;
    position: absolute;
    width: 100%;
    text-align: center;
}

.notesection form {
    text-align: left;
}
