.button {
    width: calc(50% - 5px);
    display: inline-block !important;
    margin: 0 !important;
    margin-top: 10px !important;
}

.questions.actions {
    padding: 0 !important;
}

.divider {
    display: inline-block;
    width: 10px;
    margin: 0;
    padding: 0;
}

.tri.button {
    width: calc(33.33% - 6.666px);
}

.question.actions {
    text-align: center;
}

.info {
    min-height: 150px;
}

.header, .results {
    display: inline-block;
}

.results .icon {
    margin: 0;
}

.container {
    position: relative;
}

.loginalert {
    position: absolute;
    top: 0;
    right: 0;
}

.actionbar {
    position: absolute;
    top: 0;
    right: 0;
}

.actionbar p {
    display: inline-block;
}

.actionbar *:hover {
    cursor: pointer;
}

.notesection {
    visibility: hidden;
    position: absolute;
    width: 100%;
    text-align: center;
}

.notesection form {
    text-align: left;
}

.comment.section {
    margin-top: 40px;
}

.comment.buttons {
    width: 13%;
    margin-left: 2%;
    display: inline-block;
    padding: 0;
    vertical-align: bottom;
}

.comment.button, textarea.comment {
    display: inline-block;
}

.comment.button, .back.button {
    width: 100%;
    margin: 0 !important;
}

.back.button {
    margin-bottom: 5px !important;
    display: none;
    visibility: hidden;
}

textarea.comment {
    width: 85% !important;
    min-height: 77px;
}

.comment.header {
    font-size: 13px;
    font-weight: 700;
}

.comment.header, .comment.text{
    margin: 0;
}

.timesince {
    font-size: 10px;
    font-weight: 400;
}

.comment.item {
    margin: 10px 0;
}

.comment.text {
    font-size: 12px;
}

form.comment {
    margin-top: 30px;
}