.button {
    width: 47.5%;
    display: inline-block !important;
    margin: 1% 0.7% !important;
}

.question.actions {
    text-align: center;
}

.info {
    padding: 1.5%;
    min-height: 150px;
}

.header, .results {
    display: inline-block;
}

.results .icon {
    margin: 0;
}

.container {
    position: relative;
}

.loginalert {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5%;
}

.actionbar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5%;
}

.actionbar *:hover {
    cursor: pointer;
}

.notesection {
    visibility: hidden;
    position: absolute;
    width: 100%;
    text-align: center;
}

.notesection form {
    padding: 1.5%;
    text-align: left;
}
